a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.tab{
    background: linear-gradient(to right bottom, #ff8c35 50%, #fa8231 50%);
    font-family: 'Source Sans Pro', sans-serif;
    padding: 15px;
    border-radius: 15px;
}
.tab .nav-tabs{
    margin: 0;
    border: none;
}
.tab .nav-tabs li a{
    color: #fff;
    background: transparent;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 8px 25px 10px;
    margin: 0 10px 13px 0;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a:hover{
    color: #fa8231;
    background: transparent;
    border: none;
}
.tab .nav-tabs li a:before{
    content: "";
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    filter: blur(5px);
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before{
    border-radius: 10px;
    opacity: 1;
    filter: blur(0);
}
.tab .tab-content{
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    /* padding: 2px; */
    border-radius: 20px;
    box-shadow: 0 0 10px -3px rgba(0,0,0,0.25);
    position: relative;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li a{ margin: 0 0 10px; }
}